.navbarStyle{
    background-color: rgb(56, 56, 56);
    color: rgb(186, 126, 92);
}
.profilePics{
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: none;
    background-color: black;
}
.intro{
    padding-top: 60px;
    margin: none;
    background-color: rgb(56, 56, 56);
    padding-bottom: 60px;
    color: white;
}
.name{
    color: rgb(63, 106, 129);
}
.heading{
    background-color: rgb(56, 56, 56);
    padding: 3rem;
    color: rgb(214, 159, 91);
    text-decoration: underline;
}
.contentSec{
    padding-top: 75px;
    margin: none;
    background-color: rgb(131, 131, 131);
    padding-bottom: 30px;
}
.inCard{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
.cardLogos{
    max-width: 100%;
    max-height: 100px;
    border: 3px solid rgb(41, 41, 41);
    border-radius: 50px;
    background-color: black;
}
.cardLogos:hover{
    border: 3px solid rgb(87, 87, 87);
}
.cardImages{
    padding-bottom: 1rem;
}
.sizingOverride{
    padding-top: 0.5px;
    padding-right: 0.5px;
    background-color: rgb(63, 63, 232) !important;
}
.expCard{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}
.Fit{
    margin-top: -2px;
    margin-left: -2px;
    margin-bottom: -1px;
    margin-right: 10px;
}
.skillTags{
    background-color: rgb(56, 56, 56);
    border: 3px solid rgb(41, 41, 41);
    border-radius: 8px;
    margin-top: 2.5rem;
    padding: 5px;
}
.skills{
    color: rgb(63, 106, 129);
    font-family: sans-serif;
}
.image-resize{
    max-width: 12%;
    margin: auto;
}
.carousel-item{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.aboutMe{
    color: white;
    background-color: rgb(56, 56, 56);
    border: 3px solid rgb(41, 41, 41);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2.5rem;
    margin-left: 2.8rem;
    margin-right: 2.8rem;
}
.contDets{
    padding-top: 3rem;
    margin: none;
    background-color: rgb(56, 56, 56);
    padding-bottom: 30px;
}
.CDHeading{
    text-decoration: underline;
}
.contInfo{
    color: rgb(177, 177, 177);
    margin-top: 1rem;
    list-style: none;
    }
.contLogo{
    max-width: 55px;
    border: 3px solid rgb(41, 41, 41);
    border-radius: 40px;

}
.contLogo:hover{
    border: 3px solid rgb(131, 131, 131);
}